[2022-04-30 14:46] shawaj commented on #343
Yeah maybe a 24 hour reboot isn't a bad idea in general, like on all hotspots. Or even once a week or something. Clear out the cobwebs

[2022-04-30 14:47] shawaj commented on #343
Would be nice to tie this in with the dashboard and/or app to give more up to date online/offline notifications

[2022-05-03 19:02] sentry-io[bot] opened #345 "FileNotFoundError: [Errno 2] No such file or directory: '/sys/class/net/wlan0/address'"
Sentry Issue: [HM-DIAG-M](https://sentry.io/organizations/nebra/issues/2898327540/?referrer=github_integration)

[code]

**Acceptance criteria**
- No error should be sent to Sentry
- Warning level logging when this happens
- Unsilence Sentry a few days after merged into production

[2022-05-03 19:04] marvinmarnold commented on #345
@NebraLtd/device-team ideally we can fix this before May 13, when our Sentry allotment resets.

[2022-05-03 19:04] sentry-io[bot] opened #346 "Failed to find filecontaining miner mac address.Exception: [Errno 2] No such file or directory: '..."
Sentry Issue: [HM-DIAG-R](https://sentry.io/organizations/nebra/issues/2898328667/?referrer=github_integration)

[code]

[2022-05-03 19:04] marvinmarnold commented on #346
@NebraLtd/device-team ideally we can fix this before May 13, when our Sentry allotment resets.

[2022-05-03 19:05] KevinWassermann94 commented on #345
@marvinmarnold with fixing you mean Sentry ignoring it? Many customers remove their Wifi dongle especially on the outdoor units

[2022-05-03 19:20] marvinmarnold commented on #345
We shouldn't even be logging errors / sending to Sentry if we think this is expected behavior.

@vpetersson can we increase the Sentry plan to 1M monthly errors and 500k transactions? We are currently paying for 50k/1M. We are currently using the entire month's allotment in 2 days.

I'm going to silence all the major offenders and queue them up to actually be addressed in future sprints.

[2022-05-03 19:21] sentry-io[bot] opened #347 "MinerConnectionError: Unable to connect to miner http://helium-miner:4467"
Sentry Issue: [HM-DIAG-11J](https://sentry.io/organizations/nebra/issues/3012607082/?referrer=github_integration)

[code]

[2022-05-03 19:25] sentry-io[bot] opened #348 "CalledProcessError: Command '['/opt/python-dependencies/hm_pyhelper/gateway_mfr', '--path', '/dev/i2c-1', 'key', '0']..."
Sentry Issue: [HM-DIAG-N](https://sentry.io/organizations/nebra/issues/2898327615/?referrer=github_integration)

[code]

[2022-05-03 19:25] sentry-io[bot] opened #349 "MinerConnectionError: Unable to connect to miner http://helium-miner:4467"
Sentry Issue: [HM-DIAG-JV](https://sentry.io/organizations/nebra/issues/3012054240/?referrer=github_integration)

[code]

[2022-05-03 19:26] sentry-io[bot] opened #350 "MinerConnectionError: Unable to connect to miner http://helium-miner:4467"
Sentry Issue: [HM-DIAG-T](https://sentry.io/organizations/nebra/issues/2898329080/?referrer=github_integration)

[code]

[2022-05-04 09:24] KevinWassermann94 commented on #345
@marvinmarnold I'd say that this is expected behaviour in at least 98% of the cases. And if it's not intentional, the customer will reach out to us

[2022-05-05 12:45] sentry-io[bot] opened #352 "gateway_mfr exited with a non-zero status"
Sentry Issue: [HM-DIAG-V](https://sentry.io/organizations/nebra/issues/2898330332/?referrer=github_integration)

[code]

[2022-05-09 17:34] marvinmarnold opened #353 "Fix diagnostics upload"
Possibly related to: https://github.com/NebraLtd/hm-diag/pull/271/files
See: https://nebraltd.slack.com/archives/C024BNQ1Y6T/p1652117473876719

**Acceptance Criterion**
- Diag is successfully ingested in bigquery.
- firmware_short_hash is added to bigquery.

[2022-05-10 08:42] pritamghanghas opened #354 "fix: hm-diag python test workflow is failing due to a deb package missing"
The python tests workflow is failing because the version of libdus that apt tries to fetch is no longer there. Probably some critical fix has been published and older package removed. A simple apt udpate should fix it.

Log trail from workflow run:

[2022-05-10 08:44] vpetersson commented on #354
This is most likely a temporary fluke. Unless we've bumped Debian version, packages don't disappear like this.

[2022-05-10 13:11] #354 closed

[2022-05-10 13:18] pritamghanghas commented on #327
@marvinmarnold When I looked at it for division, I realized that all the original concerns have been fulfilled already.

[2022-05-10 13:39] marvinmarnold opened #357 "Consolidate diagnostics page changes for light hotspot activation"
**Acceptance criteria**
- Remove: sync percentage, miner relayed, height, connected to blockchain
- Add: Validators if possible

[2022-05-11 06:42] pritamghanghas commented on #319
There is no breakage here. It is already working with light-hotspot branches.

[2022-05-11 06:42] #319 closed

[2022-05-12 10:21] ilyastrodubtsev commented on #353
I researched the problem a bit. And it looks like we're still sending diagnostic data to bigquery.
But the data itself has undergone some changes. And we just can't insert them into our table in Biqguery.
For example: We expect boolean on bigquery side.
But diag sent string.

We lose over 20,000 diagnostic data every hour.

I've aggregated all the unique bugs we encounter.

[code]

[2022-05-12 17:23] sentry-io[bot] opened #360 "ConnectTimeout: HTTPSConnectionPool(host='fuzzy-marmalade-warlock.skittles.stakejoy.com', port=443): Max retries ..."
Sentry Issue: [HM-DIAG-3G7](https://sentry.io/organizations/nebra/issues/3192072744/?referrer=github_integration)

[code]

[2022-05-12 17:25] sentry-io[bot] opened #361 "Failed to find filecontaining miner mac address.Exception: [Errno 2] No such file or directory: '..."
Sentry Issue: [HM-DIAG-16](https://sentry.io/organizations/nebra/issues/2898363754/?referrer=github_integration)

[code]

[2022-05-13 00:12] kashifpk commented on #353
Nice research @ilyastrodubtsev - On a side note, looking at the error messages it looks like google/bigquery is also using pydantic for data validation @metawake  as these error messages seem very similar to what pydantic generates.

[2022-05-13 15:31] sentry-io[bot] opened #362 "ReadTimeout: HTTPSConnectionPool(host='fuzzy-marmalade-warlock.skittles.stakejoy.com', port=443): Read timed o..."
Sentry Issue: [HM-DIAG-10](https://sentry.io/organizations/nebra/issues/2898339335/?referrer=github_integration)

[code]

[2022-05-13 15:41] kashifpk opened #363 "Fix device diagnostic error that sometimes causes it to fail"
Balena supervisor API sometimes returns an empty response instead of the expected json response. This causes the code to fail [here](https://github.com/NebraLtd/hm-diag/blob/master/hw_diag/utilities/balena_supervisor.py#L59).

This is different from inability to access the supervisor API, call to the supervisor API succeeds and we get  a HTTP 2xx response code. The problem is that returned content

[2022-05-13 15:50] sentry-io[bot] opened #364 "ReadTimeout: HTTPSConnectionPool(host='fuzzy-marmalade-warlock.skittles.stakejoy.com', port=443): Read timed o..."
Sentry Issue: [HM-DIAG-18](https://sentry.io/organizations/nebra/issues/2898364086/?referrer=github_integration)

[code]

[2022-05-13 15:51] sentry-io[bot] opened #365 "SystemExit: 1"
Sentry Issue: [HM-DIAG-334](https://sentry.io/organizations/nebra/issues/3097654481/?referrer=github_integration)

[code]

[2022-05-13 15:53] sentry-io[bot] opened #366 "Device status request failed."
Sentry Issue: [HM-DIAG-3GB](https://sentry.io/organizations/nebra/issues/3192073681/?referrer=github_integration)

[code]

[2022-05-13 15:53] sentry opened #367 "Connection error while trying to shutdown device. URL: http://10.114.104.1:48484/v2/state/status?..."
Sentry Issue: [HM-DIAG-3GA](https://sentry.io/organizations/nebra/issues/3192073669/?referrer=github_integration)

[code]

[2022-05-13 15:56] sentry-io[bot] opened #368 "No such interface “org.freedesktop.DBus.ObjectManager” on object at path /org/freedesktop/ModemMa..."
Sentry Issue: [HM-DIAG-2SH](https://sentry.io/organizations/nebra/issues/3097330771/?referrer=github_integration)

[code]

[2022-05-13 16:03] pritamghanghas commented on #368
sentry screenshots in case the link doesn't work
![Screenshot from 2022-05-13 21-26-40](https://user-images.githubusercontent.com/6928727/168322981-5e9d9685-8f5f-40cb-a9e7-71eb4f267344.png)
![Screenshot from 2022-05-13 21-26-39](https://user-images.githubusercontent.com/6928727/168322993-e26649a6-a8a2-4dc1-b374-9ab5a3506e14.png)
![Screenshot from 2022-05-13 21-26-36](https://user-images.githubuser

[2022-05-13 16:04] pritamghanghas commented on #367
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-24-34](https://user-images.githubusercontent.com/6928727/168323150-5345a510-5086-403b-8bab-976112bcc040.png)
![Screenshot from 2022-05-13 21-24-36](https://user-images.githubusercontent.com/6928727/168323157-10e2befc-d2ed-4eea-b2b2-ba783212dffb.png)
![Screenshot from 2022-05-13 21-24-38](https://user-images.githu

[2022-05-13 16:08] pritamghanghas commented on #365
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-22-41](https://user-images.githubusercontent.com/6928727/168323612-eb7aa129-4ddb-42a3-8b0e-bc3999e62070.png)
![Screenshot from 2022-05-13 21-22-43](https://user-images.githubusercontent.com/6928727/168323619-c4099296-755c-447b-a653-f5d7d666b281.png)
![Screenshot from 2022-05-13 21-22-45](https://user-images.githu

[2022-05-13 16:08] pritamghanghas commented on #364
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-20-37](https://user-images.githubusercontent.com/6928727/168323664-4743c767-3825-4585-98f9-0ee604a43a5d.png)
![Screenshot from 2022-05-13 21-20-40](https://user-images.githubusercontent.com/6928727/168323677-11f7a0ff-bd38-4c52-afa4-9ed688571459.png)
![Screenshot from 2022-05-13 21-20-41](https://user-images.githu

[2022-05-13 16:09] pritamghanghas commented on #362
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-01-58](https://user-images.githubusercontent.com/6928727/168323815-6d53c11a-95c9-4986-bc00-d8e6df17615f.png)
![Screenshot from 2022-05-13 21-02-03](https://user-images.githubusercontent.com/6928727/168323825-8173ee23-b294-4c46-bcb6-a95c1452254e.png)
![Screenshot from 2022-05-13 21-02-08](https://user-images.githu

[2022-05-13 16:09] pritamghanghas commented on #361
sentry screenshots in case the sentry link is broken:
![hm_diag#361](https://user-images.githubusercontent.com/6928727/168323859-5047b55b-9d76-45a1-9aee-70f22866e741.png)
![hm_diag#361-2](https://user-images.githubusercontent.com/6928727/168323875-0f6a91b4-b383-4f3d-9112-7b5dcea27605.png)
![Screenshot from 2022-05-13 20-58-49](https://user-images.githubusercontent.com/6928727/168323880-bec687f1-07

[2022-05-13 16:11] pritamghanghas commented on #349
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-08-57](https://user-images.githubusercontent.com/6928727/168324218-ee154a94-e6f5-4b8a-b81d-787e11596623.png)
![Screenshot from 2022-05-13 21-09-01](https://user-images.githubusercontent.com/6928727/168324225-dd28ed1d-8b8a-4334-acb0-34627a520ae4.png)
![Screenshot from 2022-05-13 21-09-04](https://user-images.githu

[2022-05-13 16:11] pritamghanghas commented on #348
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-10-10](https://user-images.githubusercontent.com/6928727/168324268-acda2c56-8a42-4bf0-8d95-eddd1c195b23.png)
![Screenshot from 2022-05-13 21-10-15](https://user-images.githubusercontent.com/6928727/168324278-128c11da-92f8-4359-ae48-f60ec0c35347.png)
![Screenshot from 2022-05-13 21-10-18](https://user-images.githu

[2022-05-13 16:12] pritamghanghas commented on #347
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-07-38](https://user-images.githubusercontent.com/6928727/168324331-e2cd8474-cab8-4586-acd6-3ddcd20bc2d3.png)
![Screenshot from 2022-05-13 21-07-42](https://user-images.githubusercontent.com/6928727/168324347-1310a997-3884-4f74-8832-14d053f80759.png)
![Screenshot from 2022-05-13 21-07-46](https://user-images.githu

[2022-05-13 16:12] pritamghanghas commented on #346
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-06-37](https://user-images.githubusercontent.com/6928727/168324408-53c378c2-b85b-4229-8815-dd4f0dc35811.png)
![Screenshot from 2022-05-13 21-06-41](https://user-images.githubusercontent.com/6928727/168324414-d37afe6b-36a7-4ece-8569-fbf82bf665cd.png)
![Screenshot from 2022-05-13 21-06-44](https://user-images.githu

[2022-05-13 16:13] pritamghanghas commented on #345
sentry screenshots in case the sentry link is broken:
![Screenshot from 2022-05-13 21-05-24](https://user-images.githubusercontent.com/6928727/168324467-5e838649-6987-488f-9f96-8b791fa2ced7.png)
![Screenshot from 2022-05-13 21-05-31](https://user-images.githubusercontent.com/6928727/168324469-c198d501-1458-4d7c-8fba-d88bd8b09d4c.png)
![Screenshot from 2022-05-13 21-05-34](https://user-images.githu

[2022-05-13 17:35] marvinmarnold commented on #352
@pritamghanghas were you able to get a screenshot of this error?

[2022-05-14 00:44] kashifpk opened #369 "dbus-python no longer installable?"
Looks like dbus-python is no longer installable? I tried installing requirements for current hm-diag and ran into this. Base system is `Ubuntu 22.04` with `Python 3.10.4`.

[code]

[2022-05-14 00:52] kashifpk commented on #369
As a side effect of this, we are unable to run test cases.

[code]

[2022-05-14 04:01] kashifpk commented on #363
@marvinmarnold someone else will need to tackle it because of [369](https://github.com/NebraLtd/hm-diag/issues/369)

[2022-05-15 17:49] marvinmarnold opened #370 "Stabilize snapshotter following light hotspot changes"
https://nebraltd.slack.com/archives/C024BNQ1Y6T/p1652633776944869

[2022-05-15 21:04] shawaj commented on #97
@NebraLtd/developers @NebraLtd/device-team @NebraLtd/tech-support I think this is something we should prioritise to push people to the dashboard.

Perhaps even having "greyed out" features such as restart, reboot, shutdown, and other dashboard specific features that then maybe launches a popup pushing people to sign up for dashboard

[2022-05-15 22:36] KevinWassermann94 opened #371 "Add QR Code for onboarding the device on the dashboard"
In addition to NebraLtd/hm-dashboard#97 we should add a QR code to the diagnostics page to onboard the device in the dashboard.
The QR code should be displayable by hovering a tooltip promoting the dashboard

[2022-05-15 23:54] shawaj commented on #371
Related to https://github.com/NebraLtd/hm-dashboard/issues/800

[2022-05-15 23:54] shawaj commented on #371
Could also add a deep link perhaps

[2022-05-16 07:45] vpetersson commented on #371
This needs to be scoped out in the next grooming.

[2022-05-16 07:46] pritamghanghas commented on #352
@marvinmarnold I had deleted it before I realized, all previous data also goes away. No screenshots for this one.

[2022-05-16 07:53] vpetersson commented on #369
This is why we should run tests inside of dockerized environments rather than on the host OS.

[2022-05-16 13:21] marvinmarnold opened #372 "Sentry: Fix root cause of gateway_mfr exited with a non-zero status"
Follow up to:
- https://github.com/NebraLtd/hm-diag/issues/352

Related work:
- https://github.com/NebraLtd/hm-diag/pull/359/files
- https://github.com/NebraLtd/helium-miner-software/pull/448

Source code:
- https://github.com/NebraLtd/hm-pyhelper/blob/77eb361e2fe1510d088beb5499c15e1d25c78add/hm_pyhelper/miner_param.py#L42

Thoughts:
- There are many different possible errors, and we don't have a

[2022-05-16 18:13] kashifpk commented on #369
Sorry, this was a mistake at my end. I had missing glib dev libraries on the newly installed Ubuntu 22.04 and didn't look closely at the error that dbus-python installation was throwing. Nothing wrong here.

[2022-05-16 18:17] kashifpk commented on #363
Since 369 was a false positive at my end and closed now, I can take this up and complete it more quickly. Assigning it to myself.

[2022-05-17 12:51] posterzh commented on #343
@vpetersson Could you share some idea about the possible and best ways to persist the counters in the miner?

[2022-05-17 13:46] marvinmarnold commented on #97
@Louisreed can you work on wireframes please?

[2022-05-19 14:12] marvinmarnold commented on #352
@posterzh what are next steps here? I think we said it can be closed at this point.

[2022-05-19 14:14] #352 closed

[2022-05-24 11:41] posterzh commented on #343
Using `nmcli` cli command or dbus, it is possible to get the network connectivity state as follows(https://developer-old.gnome.org/NetworkManager/stable/nmcli.html):
- state-connected-local      | Indication that NetworkManager in local network.
- state-connected-site        | Indication that NetworkManager in connected to networks other than Internet.
- state-connecting              | Indication

[2022-05-25 03:41] pritamghanghas commented on #353
checked devices in testnet for rockpi and rpi fleets and diagnostics is shipping every hour consistently except for devices where following exception occors in that case perform_hardware_diagnostics() never finishes and thus no shipping.  this is a separate issue and we already have a ticket.

[2022-05-25 03:53] pritamghanghas commented on #353
Just checked, it got shipped to production as well with yesterday's [GA 2022.05.24.0](https://github.com/NebraLtd/helium-miner-software/pull/458) release and diagnostics are shipping

[2022-05-25 03:53] #353 closed

[2022-05-26 13:38] marvinmarnold opened #378 "Root cause analysis of faulty wifi on outdoor units"
Related to: https://github.com/NebraLtd/Hotspot-Production-Tool/issues/177

[2022-05-26 14:53] marvinmarnold opened #379 "Spike: Follow up on IPv6 and general support for T-Mobile with Quectel"

[2022-05-31 11:57] pritamghanghas commented on #379
@marvinmarnold News reports show T-Mobile 3G shutdown by 31st May. Shall I remove the check for AT&T and proceed with a release. Most of the articles mention that it was supposed to be phased, may already be in progress.

[2022-06-02 11:07] pritamghanghas commented on #379
@marvinmarnold Quectel now recommends choosing non-default APN. But I think they have suggested this keeping in mind our T-Mobile problem. I can try this if I can get ipv4 as well for T-Mobile on new firmware.  Will need a device though with T-mobile sim. I had asked them if there is a generic solution possible at global level that we can deploy to always get ipv4, they keep suggested APN tricks.

[2022-06-02 11:17] pritamghanghas commented on #378
lsusb output: Enumerated with device model according to the id found at [http://www.linux-usb.org/usb.ids](http://www.linux-usb.org/usb.ids)
Bus 001 Device 009: ID 0a12:0001 - Cambridge Silicon Radio, Ltd - **(0001  Bluetooth Dongle (HCI mode))**
Bus 001 Device 004: ID 1a40:0101 - Terminus Technology Inc. - **(0101  Hub)**
Bus 001 Device 008: ID 04e2:1200 - 04e2  Exar  **(1410  XR21V1410 USB-UART

[2022-06-02 12:04] KevinWassermann94 opened #380 "Display fleet location on diagnostics page"
**Acceptance Criteria**
- [x] Differentiate between free OpenFleets and Premium

[2022-06-02 12:22] pritamghanghas commented on #378
the devices that have the 802.11n usb dongles should have following line in `lsusb`:
`Bus 001 Device 007: ID 0bda:8179  USB 2.0 Hub `
if one checks the complete output with `lsusb -v` the kernel identifies it as
[code]
A simple test on the console for checking whether the dongle is attached or not:
`lsusb | grep 8179`
should result in following output.
`Bus 001 Device 007: ID 0bda:8179  USB 2.0 Hu

[2022-06-02 12:25] pritamghanghas commented on #378
My conclusion is these faulty devices are either missing the dongle or the connection to the dongle is broken.

[2022-06-02 12:34] pritamghanghas commented on #378
moving it to on hold, we will look at it when we get our hands on the faulty devices.

[2022-06-06 07:16] MuratUrsavas opened #381 "Add display support for Cotx X3 display for status"
**Acceptance Criteria**
- [ ] The status, similar to LED status, has to be shown on display permanantly
- [ ] Optional: shows taken IP's.
- [ ] Optional: shows Nebra logo permanantly or periodically

[2022-06-06 11:22] pritamghanghas opened #384 "Revisit errror() logging to reduce traffic to sentry"
We need to revisit how we often we use error() level logging and reduce it by dropping to warning() whenever possible. Use these [guidelines](https://github.com/nebraltd/product-management/issues/67#issuecomment-1144631643) to make the decision.

**Acceptance Criterion**
- error logging as per [guidelines](https://github.com/nebraltd/product-management/issues/67#issuecomment-1144631643)

[2022-06-07 08:43] #363 closed

[2022-06-07 08:58] pritamghanghas opened #385 "Exponential sentry error suppression"
Incorporate exponential error suppression as explained in this [comment](https://github.com/nebraltd/product-management/issues/67#issuecomment-1144655061)

**Acceptance Criteria**
- Exponential error suppression till a max of one error sent to sentry for every 128 errors

[2022-06-08 09:22] posterzh opened #387 "Revisit the watchdog and improve the checking for network connectivity"
Follow up to:
- https://github.com/NebraLtd/hm-diag/issues/343

Related work:
- https://github.com/NebraLtd/hm-diag/pull/377

Thought:
To implement the watchdog, we need to find out the connectivity to the local gateway or internet.
- Network Manager status is unreliable for finding out the connectivity to the local gateway. On Rockpi miner, even if the router is powered off for 30 minutes, NM sti

[2022-06-09 00:10] marvinmarnold commented on #379
@pritamghanghas this miner is setup for you to use: https://dashboard.balena-cloud.com/devices/fd5f350f18f50c45a1a23eeb1a3170da/summary

[2022-06-09 11:44] KevinWassermann94 opened #388 "Remove freq from diagnostics"
Acceptance Criteria
- [ ] Create new diagnostics to read region from file and show frequency based off of that

[2022-06-09 12:00] pritamghanghas commented on #379
Tried to look for a configuration option in NetworkManager because android seem to allow selection of protocol ipv4, ipv6, ipv4/ipv6 but didn't find such an option for NM.

[2022-06-09 12:22] pritamghanghas commented on #379
checked on both firmwares. The status is same. So it seems "our decision to do nothing on the firmware upgrade is good".
the current firmware = {
    "EG25GGBR07A08M2G": "EG25GGBR07A08M2G_01.001.01.001",
    "EG25GGBR07A07M2G": "EG25GGBR07A07M2G_01.001.01.001",
}
seems to work fine and gets both ipv4 and v6 while newer firmware gets only ipv6.

[2022-06-09 16:34] marvinmarnold commented on #385
Let's keep this in QA until the Sentry allocation resets.

[2022-06-10 06:16] pritamghanghas commented on #379
Waiting for Quectel if they come up with some generic way of handling this with AT commands.

[2022-06-10 11:40] pritamghanghas commented on #388
@KevinWassermann94 Shall we totally remove this. I don't know what additional value it provides when "region" key is already there and it is displayed under "Region Plan" in diagnostic page. Seems redundant.

[2022-06-10 11:42] KevinWassermann94 commented on #388
Makes sense. The only difference is that the region plan will be unavailable when no location has been asserted yet.
@marvinmarnold What do you think?

[2022-06-10 11:46] pritamghanghas commented on #388
@KevinWassermann94 Frequency will also be unavailable when unasserted. Our plan was is to deduce it from region and that is how miner decides it.

[2022-06-10 11:48] KevinWassermann94 commented on #388
You are right

[2022-06-13 07:53] Louisreed commented on #97
![Diagnostics Page - Dashboard notification.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/13a0fbbc-5f84-44d7-bfae-ecfd4df1bdbd)

[2022-06-13 09:56] KevinWassermann94 commented on #97
@Louisreed That's looking good! I think we should slightly adjust the detail message though as we don't have any checks if it was claimed. Maybe something like "Use the dashboard now to gain benefits such as remote management, premium firmware and prioritized support"

[2022-06-13 11:31] #54 closed

[2022-06-13 12:45] pritamghanghas commented on #387
@posterzh have we found out why it hangs. Can it be related to the [singleton instance.](https://github.com/NebraLtd/hm-diag/blob/master/hw_diag/utilities/network_watchdog.py#L88) becoming invalid when network manager has been restarted. We don't have any need for singleton. This might be creating issues holding stale objects.

[2022-06-13 12:51] posterzh commented on #387
Thanks for good comments. I will remove singletone and try again.

[2022-06-13 13:59] marvinmarnold commented on #97
I'm not sure the horizontal divider is adding much, it seems a little cluttered.

[2022-06-13 14:34] SomeFixItDude opened #391 "Reboot and Shutown"
Please add reboot and shutdown to the diag page. There is no way to reboot or shutdown the miner cleanly unless you have the nebra dashboard.

[2022-06-13 18:19] marvinmarnold commented on #385
@pritamghanghas is the relevant code in production on helium-miner-software?

[2022-06-14 13:06] sentry-io[bot] opened #392 "SystemExit: 1"
Sentry Issue: [HM-DIAG-3GD](https://sentry.io/organizations/nebra/issues/3192074512/?referrer=github_integration)

[code]

[2022-06-15 16:33] sentry-io[bot] opened #393 "SystemExit: 1"
Sentry Issue: [HM-DIAG-3KP](https://sentry.io/organizations/nebra/issues/3272490891/?referrer=github_integration)

[code]

[2022-06-16 15:28] KevinWassermann94 commented on #385
@pritamghanghas ^

[2022-06-16 15:42] #152 closed

[2022-06-16 18:22] pritamghanghas commented on #385
@KevinWassermann94  @marvinmarnold  Yes, it went with Network watchdog release. We will see how well it works out in supressing issue count and enable for other repos with a separate ticket.

[2022-06-16 19:17] KevinWassermann94 commented on #385
@pritamghanghas Watchdog hasn't been pushed to production yet

[2022-06-20 06:57] pritamghanghas commented on #379
T-Mobile doesn't have a generic solution for this. Waiting for helium to be ipv6 ready seems to be only strategy right now. Nothing more to do here.

[2022-06-20 06:57] #379 closed

[2022-06-20 14:38] Louisreed commented on #97
![Diagnostics Page - Dashboard notification.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/9a8f51b2-ecf6-45c8-88a3-7b08a5a67e61) @KevinWassermann94 @marvinmarnold Did you want me to propose a design for the feature @shawaj mentioned about showing features greyed out?

[2022-06-21 12:55] pritamghanghas commented on #388
blocked by https://github.com/NebraLtd/hotspot-production-images/issues/49
once frequency file injection is done.

[2022-06-21 13:07] marvinmarnold commented on #378
Waiting for device to reach UK office

[2022-06-22 14:08] Louisreed commented on #97
![Diagnostics Page - Dashboard notification - Modal.png](https://images.zenhubusercontent.com/6240c646b62e3d4770d258f5/3ba74f4a-862c-41b7-bc59-beb64b7997ea)

[2022-06-22 19:13] KevinWassermann94 opened #395 "Upload watchdog events"
@KevinWassermann94 commented on [Wed Jun 22 2022](https://github.com/NebraLtd/hm-watchdog/issues/6)

Mechanism for copying data into BigQuery should be able to be extended to also copy the data to the Dashboard. Some options: Cloud Storage -> Functions -> PubSub -> BigQuery/Dashboard, OR Storage -> Functions -> BigQuery -> Dashboard, OR Storage -> Function -> Dashboard and separately to BigQuery.

[2022-06-23 12:21] #343 closed

[2022-06-23 14:39] marvinmarnold commented on #388
@NebraLtd/device-team can we remove this from the sprint? I don't think we want to do this yet.

[2022-06-27 11:37] #57 closed

[2022-06-27 11:44] KevinWassermann94 commented on #262
Closed in favor of #395

[2022-06-27 11:44] #262 closed

[2022-06-28 11:31] marvinmarnold commented on #388
@NebraLtd/device-team this has been removed from the sprint

[2022-06-29 10:53] posterzh commented on #350
If `helium-miner` balena service is stopped or stuck, then whenever opening the diagnostics page, getting the diagnostics json, or uploading the diagnostics will raise this exception.
![image](https://user-images.githubusercontent.com/91350131/176419881-e4821510-4ec3-45f0-b134-6afbcca97da8.png)

[2022-06-30 11:53] KevinWassermann94 opened #396 "Watchdog track miner logs"
Follow-Up To: https://github.com/NebraLtd/hm-diag/issues/395

Acceptance Criteria:
- [ ] The watchdog analyses the miner logs and identifies potential errors
- [ ] Log successful witnesses and data transfers
- [ ] Expand watchdog uploads with witness data

[2022-06-30 14:33] sentry-io[bot] opened #397 "gateway_mfr exited with a non-zero status"
Sentry Issue: [HM-DIAG-432](https://sentry.io/organizations/nebra/issues/3355108021/?referrer=github_integration)

[code]

[2022-07-01 08:38] pritamghanghas commented on #378
@KevinWassermann94 Did we receive any of these miners?

[2022-07-04 08:52] posterzh commented on #350
After went through all the miners that have MinerConnectionError provided by @salmanfarisvp, they all fallback into the corrupted EMMC issue or the malfunctioning ECC.

https://docs.google.com/document/d/1osSlPv1vq194BOEi109mlf7KL1fDt3UJI6_mnfajAAw/edit?usp=sharing

[2022-07-04 10:25] KevinWassermann94 opened #398 "Clarify Radio false when no location is asserted"
As a customer it is confusing to see a Lora error when no region has been asserted

Acceptance Criteria:
- [ ] Change Radio false to "False - Awaiting Location Assertion"

[2022-07-04 10:37] #71 closed

[2022-07-04 12:29] posterzh commented on #350
I think it's fine to keep `MincerConnectionError` in the Sentry for the faulty miners that have unhealty `helium-miner` or bad ECC.
But we need to remove the Sentry errors false-positive errors. On every deployment `helim-miner` service get restarted since it has `FIRMWARE_SHORT_HASH` and `FIRMWARE_VERSION` environment variable.

[2022-07-05 05:30] posterzh opened #399 "MinerConnectionError when "helium-miner" container is down"
Follow up to:
- https://github.com/nebraltd/hm-diag/issues/350

Thoughts:
- For any miner, if `helium-miner` container is down, then one of the following actions makes [MinerConnectionError](https://sentry.io/organizations/nebra/issues/2898329080/?project=5730184&referrer=github_integration).
  - open the `diagnostics` page.
  - call `diagnostics/json` endpoint
  - upload the diagnostics to the Go

[2022-07-05 06:47] posterzh opened #400 "MinerConnectionError when "helium-miner" container is unhealthy"
Follow up to:
- https://github.com/nebraltd/hm-diag/issues/350

Thoughts:
- For any miner, if `helium-miner` container is unhealthy, then one of the following actions makes [MinerConnectionError](https://sentry.io/organizations/nebra/issues/2898329080/?project=5730184&referrer=github_integration).
  - open the `diagnostics` page.
  - call `diagnostics/json` endpoint
  - upload the diagnostics to t

[2022-07-05 06:50] posterzh commented on #400
The reason of this issue is most likely the corrupted EMMC and the following actions can fix:
- Purge the device
- Reflash the EMMC
- Replace the EMMC

[2022-07-05 06:50] posterzh commented on #399
The reason of this issue is most likely the corrupted EMMC and the following actions can fix:
- Purge the device
- Reflash the EMMC
- Replace the EMMC

[2022-07-05 07:16] posterzh opened #401 "MinerConnectionError when ECC is bad"
Follow up to:
- https://github.com/nebraltd/hm-diag/issues/350

Thoughts:
- For any miner, if `helium-miner` container is down, then one of the following actions makes [MinerConnectionError](https://sentry.io/organizations/nebra/issues/2898329080/?project=5730184&referrer=github_integration).
  - open the `diagnostics` page.
  - call `diagnostics/json` endpoint
  - upload the diagnostics to the Go

[2022-07-05 08:46] posterzh opened #402 "MinerConnectionError from healthy miners"
Follow up to:
- https://github.com/nebraltd/hm-diag/issues/350

Thoughts:
- For the healthy miners that is earning well and their all containers are running, [MinerConnectionError](https://sentry.io/organizations/nebra/issues/2898329080/?project=5730184&referrer=github_integration) might happen at a specific moment.

To check this hypothesis, we need to get the Balena device UUID of the miner from

[2022-07-05 08:46] posterzh opened #403 "MinerConnectionError from healthy miners"
Follow up to:
- https://github.com/nebraltd/hm-diag/issues/350

Thoughts:
- For the healthy miners that is earning well and their all containers are running, [MinerConnectionError](https://sentry.io/organizations/nebra/issues/2898329080/?project=5730184&referrer=github_integration) might happen at a specific moment.

To check this hypothesis, we need to get the Balena device UUID of the miner from

[2022-07-05 12:22] posterzh commented on #403
Duplicated with #402

[2022-07-05 12:22] #403 closed

[2022-07-05 12:59] pritamghanghas opened #404 "Make most fields in big query diagnostic schema as optional"
While working on [product-management#72](https://github.com/NebraLtd/product-management/issues/72), it was observed that we might miss some diagnostic reports due to schema validation of required fields.

We don't want to miss diagnostic reports if some of the current mandatory fields are malformed or missing due to hardware/software issues. Except for timestamp, there isn't any need to mark field

[2022-07-05 14:28] posterzh commented on #350
@NebraLtd/device-team What about close this?

[2022-07-05 14:36] posterzh opened #405 "Add balena device UUID to Sentry issues in all repos"
Follow up to:
- https://github.com/NebraLtd/hm-diag/issues/402

Thoughts:
- While working on Sentry issues, getting the Balena device UUID is very helpful for inspection. We can carry out the various inspections to find out the root cause of the sentry issue.
For example, in `diagnostics` container, `RESIN_DEVICE_UUID` environment variable is set with the Balena device UUID.
[code]
**Acceptance cr

[2022-07-06 08:05] pritamghanghas commented on #350
@posterzh As we have created follow up tickets, I think it is alright to close this one.

[2022-07-06 08:05] #350 closed

[2022-07-06 11:10] pritamghanghas opened #407 "perform_hw_diagnostics argument ship seems to change value midway in exectuion"
While working on [NebraLtd/product-management#72](https://github.com/NebraLtd/product-management/issues/72), It was observed that logs show hourly upload timer firing correctly but ship is skipped due to ship = False. This looks like a concurrency issue. This might be related to [NebraLtd/hm-config#202](https://github.com/NebraLtd/hm-config/issues/202).

[2022-07-06 13:01] pritamghanghas commented on #345
decreased points from 2 to 1 as it was small fix.

[2022-07-07 12:10] marvinmarnold commented on #97
@Louisreed when does the modal appear? I don't think both the modal and banner are necessary.

[2022-07-11 12:32] KevinWassermann94 commented on #97
@Louisreed I think that adds in too much logic. I think we should only do the banner

[2022-07-11 21:24] Louisreed commented on #97
@KevinWassermann94 Sure thing, banner it is!

[2022-07-12 21:11] marvinmarnold commented on #345
@KevinWassermann94 can we get customer support to validate this in testnet?

[2022-07-14 08:41] WayneNebra commented on #345
Tested 5 miners in Testnet and all looking good. Salman outdoor hasn't got a WIFI MAC and diagnostics page loaded fine.

[2022-07-14 13:36] marvinmarnold commented on #378
@KevinWassermann94 any update?

[2022-07-15 12:24] KevinWassermann94 commented on #345
@WayneNebra Have you checked the miner logs too, to see that the beforementioned error message is not showing up anymore?

[2022-07-15 12:27] KevinWassermann94 commented on #378
This specific device had a loose USB daughterboard. I'll try to gather more data on the others ones together with Wayne

[2022-07-15 15:35] KevinWassermann94 opened #411 "Messaging for disabled blockchain sync"
We need to add a banner to the diagnostics page to explain the changes to blockchain sync

[2022-07-15 15:36] Louisreed commented on #411
`            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <h2 class="alert-heading">What happened to sync percentage?</h2>
                <p>Helium has converted all existing hotspots into <a href="https://blog.helium.com/light-hotspots-explain

[2022-07-15 15:37] Louisreed commented on #411
[code]

[2022-07-15 18:11] #345 closed

[2022-07-15 22:09] #411 closed

[2022-07-16 09:05] #357 closed

[2022-07-19 10:52] KevinWassermann94 opened #413 "Rename Lora Operational"
Rename Lora Operational to Radio Operational

[2022-07-19 13:41] #405 closed

[2022-07-20 05:31] #413 closed

[2022-07-22 19:53] marvinmarnold opened #415 "5G diagnostics page"

[2022-07-25 08:47] sentry-io[bot] opened #416 "TypeError: 'NoneType' object is not subscriptable - high frequency"
Sentry Issue: [HM-DIAG-43T](https://sentry.io/organizations/nebra/issues/3427509982/?referrer=github_integration)

[code]

[2022-07-25 09:35] pritamghanghas commented on #395
[network_watchdog_events.csv](https://github.com/NebraLtd/hm-diag/files/9179926/network_watchdog_events.csv)

[2022-07-25 10:24] pritamghanghas commented on #404
@marvinmarnold This will require making changes to the table. @htsili can probably do it. I have checked. Converting previously **required** fields to **optional** is allowed by big query. I can make the device side changes after that.

[2022-07-26 11:55] sentry-io[bot] opened #417 "SystemExit: 1"
Sentry Issue: [HM-DIAG-43D](https://sentry.io/organizations/nebra/issues/3374941714/?referrer=github_integration)

[code]

[2022-07-26 12:04] pritamghanghas commented on #395
@marvinmarnold I was using my personal gcloud account for development. This now needs a bucket named "helium-miner-events" with public write.
Requires corresponding [function](https://github.com/NebraLtd/hm-diag/blob/master/bigquery/events_import_script.py) as well as big query table with [schema](https://github.com/NebraLtd/hm-diag/blob/master/bigquery/events_schema.json)

[2022-07-26 12:57] htsili commented on #404
@pritamghanghas i think this is now done. Can you please check it?

[2022-07-26 12:59] htsili commented on #395
@pritamghanghas what should be the name of the big query table?

[2022-07-26 13:28] pritamghanghas commented on #395
@htsili We can keep it like diagnostics. we will have to update the function code file accordingly. But that is also similar to already running function for diagnostics.
<dataset>.<table>
hotspot_events_data.events

[2022-07-26 13:34] htsili commented on #395
@pritamghanghas
do we need to create a new dataset called hotspot_events_data or are we going to put it under hotspot_diagnostics_data?

[2022-07-26 13:41] htsili commented on #395
@pritamghanghas i have created the table called events under the hotspot_events_data dataset.

[2022-07-27 04:57] pritamghanghas commented on #395
@htsili this needs corresponding bucket and triggered function.
This is how the data is supposed to flow. It is same in case of diag for reference.
Hotspot uploads to public bucket -> upload triggers function -> functions write to bigquery.

[2022-07-27 10:12] pritamghanghas commented on #395
@htsili
while copying the function [these lines](https://github.com/NebraLtd/hm-diag/blob/master/bigquery/events_import_script.py#L10) will have to change according to the big query table names. Ping me when you do it.

[2022-07-27 10:15] pritamghanghas commented on #404
@htsili LGTM I will work on rest of it.

[2022-07-27 10:56] marvinmarnold commented on #395
@pritamghanghas can you make sure you initialize logging, like this: https://github.com/NebraLtd/product-management/blob/20911395b377a86813e7b18e56484ab250ff22e9/analysis/chargify-read-site-stats/main.py#L17

[2022-07-27 12:26] kashifpk commented on #395
@marvinmarnold @KevinWassermann94 @pritamghanghas - once this is done, let's create a follow-up ticket so we can also stream this data through our broker to the dashboard.

[2022-07-27 16:35] KevinWassermann94 commented on #395
@kashifpk This will be the follow up: https://github.com/NebraLtd/hm-dashboard/issues/1338

[2022-07-28 06:22] fouad-semaan opened #421 "Local Diag in Testnet Error"
We are seeing the following error in Testnet on Local Diags
![image](https://user-images.githubusercontent.com/38422316/181434998-12ea1bd8-13b0-4e75-a542-aa70317fcb2f.png)

[2022-07-28 08:49] fouad-semaan commented on #421
fixed by an update https://github.com/NebraLtd/helium-miner-software/pull/504
#504 fix: TypeError: 'NoneType' object is not subscriptable in hm-diag](https://github.com/NebraLtd/helium-miner-software/pull/504

[2022-07-28 08:49] #421 closed

[2022-07-28 09:35] pritamghanghas commented on #395
@KevinWassermann94 @marvinmarnold I was trying to get the 1 hour heartbeat done. But got doubts. These events were supposed to be stored in case of failure to upload due to network or otherwise. How do we plan to use them for uptime if they always arrive.

currently merged code: network state changes are published and network is checked every hour.

[2022-07-28 13:31] #416 closed

[2022-07-29 06:21] htsili commented on #395
@pritamghanghas I have created the bucket helium-miner-events.
What should be the name of the cloud function?

[2022-07-29 07:16] pritamghanghas commented on #395
cloud function name can be anything, it should be triggered on object creation in the bucket just like diagnostics. eg. injest_hotspot_events

[2022-07-29 08:21] htsili commented on #395
@pritamghanghas i have created the function [helium-miner-injest-hotspot-events](https://console.cloud.google.com/functions/details/us-central1/helium-miner-injest-hotspot-events?env=gen1&authuser=0&orgonly=true&project=nebra-production)

[2022-07-29 08:53] pritamghanghas commented on #395
@htsili I can't do any edits on it. Wanted to update the schema with [latest](https://github.com/NebraLtd/hm-diag/blob/pritam/watchdog_heartbeat/bigquery/events_schema.json). It has this extra field now.

  {
    "name": "network_state",
    "type": "STRING",
    "mode": "NULLABLE"
  }

[2022-07-29 09:27] htsili commented on #395
@pritamghanghas i have added it for you.

[2022-07-29 10:07] pritamghanghas commented on #395
@htsili the bucket has to public writable.

[code]

[2022-07-29 10:09] htsili commented on #395
@pritamghanghas why does the bucket need to be public writable? That seems a bit risky.

[2022-08-01 12:23] pritamghanghas commented on #395
Brief implementation details and tail of logs verifying that are recorded [here](https://docs.google.com/document/d/1tel4waTol9uao-Zn5fPAs7l6KYm2kgahOf8_C3R82ng/edit?usp=sharing)

[2022-08-01 13:09] marvinmarnold commented on #395
@pritamghanghas were heartbeats implemented ultimately? Will we continue to get events even if the miner remains online?

[2022-08-01 13:14] marvinmarnold commented on #404
We are seeing diagnostics coming through again so I think this is production already. Is any additional work needed or can this be closed @pritamghanghas ?

[2022-08-01 13:22] pritamghanghas commented on #404
@marvinmarnold No, this is in QA now. I will check a few devices from testnet tomorrow and close the ticket.

[2022-08-01 14:17] zzapmort opened #424 "ECC key not programming on first boot"
Since update to new gateway_mfr code the ecc chip is not programming on first boot. Failing with below error:
[code]

[2022-08-01 14:17] zzapmort commented on #424
cc @marvinmarnold @KevinWassermann94

[2022-08-01 14:27] zzapmort commented on #424
https://dashboard.balena-cloud.com/devices/1148b843b954f7b29bb9673cf9fe90ca?0%5B0%5D%5Bn%5D=container&0%5B0%5D%5Bo%5D=is&0%5B0%5D%5Bv%5D=packet-forwarder

link above to balena

[2022-08-01 14:29] shawaj commented on #424
FYI @marvinmarnold @KevinWassermann94 to me it looks like this is due to the key not locking properly.

It seems to have been introduced when moving to the latest version of gateway mfr.

Looking on the logs it seems the key is programmed but the config zone isn't locked so the test fails.

[2022-08-01 16:44] sentry-io[bot] opened #425 "CalledProcessError: Command '['/opt/python-dependencies/hm_pyhelper/gateway_mfr', '--device', 'ecc://i2c-1:96?slot=0'..."
Sentry Issue: [HM-DIAG-43E](https://sentry.io/organizations/nebra/issues/3374941802/?referrer=github_integration)

[code]

[2022-08-02 10:53] KevinWassermann94 commented on #404
@pritamghanghas This must be in production already. We are getting around 470k upload per day since Jul 28th

[2022-08-02 19:15] marvinmarnold commented on #395
Here are two queries that seem to provide useful info based on this sample data

[code]
![Screen Shot 2022-08-02 at 2 14 51 PM](https://user-images.githubusercontent.com/1311030/182455156-a78a3caa-3e2a-4487-826d-cef4ac4713a0.png)

[code]

![Screen Shot 2022-08-02 at 2 11 54 PM](https://user-images.githubusercontent.com/1311030/182454679-adb26dc9-1279-4776-9a70-7df73983d64d.png)

[2022-08-02 19:43] marvinmarnold commented on #404
@pritamghanghas can you make sure this gets into production before the end of the sprint.

@KevinWassermann94 this has changes in two places - Google Cloud schema and code. Changing the cloud schema is in prod and restored uploads for most devices. The code change still needs to be deployed but will prob not have a big impact.

[2022-08-03 10:58] KevinWassermann94 commented on #395
The region_override seems to be empty on all logs.
I'm currently verifying the failed containers state.

Could you clarify what packet_errors mean? E.g. if packet_errors = 446 what does that number imply?
It seems like it is retained over runtime?

[2022-08-03 11:15] pritamghanghas commented on #395
I check helium_testnet fleet doesn't use region_override. It will be other than empty only if it is set.
packet_error is total wifi/ethernet errors reported by kernel. Yes this number will keep accumulating till a reboot.

[2022-08-03 11:30] KevinWassermann94 commented on #395
The devices have a local region_override they receive from the Helium miner. It's the frequency they operate in

[2022-08-03 11:50] KevinWassermann94 commented on #395
Failed containers are showing properly. I am happy to merge and fix the region_override seperately

[2022-08-03 12:01] #395 closed

[2022-08-03 12:05] #404 closed

[2022-08-03 12:43] KevinWassermann94 opened #426 "Random Upload Intervals of diagnostics"
Acceptance Criteria:
- Diagnostics are uploaded at a random interval

[2022-08-03 15:42] #424 closed

[2022-08-03 15:49] KevinWassermann94 opened #428 "Redesign diagnostics page to match Dashboard"

[2022-08-03 16:09] shawaj commented on #424
What was the issue in the end just for future reference?

[2022-08-03 16:14] KevinWassermann94 commented on #424
The ECC was in a weird state. It worked fine after provisioning it again

[2022-08-03 16:22] shawaj commented on #424
I think @zzapmort had a few in this state and they were all brand new apparently?

Maybe worth documenting as maybe same issue that some of the "non passing" ones at Sunsoar are facing potentially

[2022-08-03 16:26] KevinWassermann94 commented on #424
@shawaj We had a bunch of units that haven't been provisioned correctly. Probably 50 units that worked fine after provisioning them again

@zzapmort If you have any more let me know and I can check them out

[2022-08-03 18:27] shawaj commented on #424
Ah ok interesting. Thanks for taking a look

[2022-08-04 11:01] #41 closed

[2022-08-11 10:08] KevinWassermann94 commented on #426
@pritamghanghas Let's move it to production

[2022-08-11 11:12] #426 closed

[2022-09-08 11:22] #378 closed

[2022-09-28 14:36] #402 closed

[2022-09-28 14:37] #331 closed

[2022-09-28 14:38] #388 closed

[2022-09-28 14:42] #261 closed

[2022-09-28 14:45] #293 closed

[2022-09-28 14:48] #208 closed

[2022-09-28 14:51] #202 closed

[2022-09-28 14:56] #257 closed

[2022-09-28 14:57] #151 closed

[2022-09-28 14:57] #258 closed

[2022-09-28 14:57] #255 closed

[2022-09-28 14:58] #259 closed

[2022-09-28 14:58] #248 closed

[2022-09-28 14:59] #33 closed

[2022-09-28 14:59] #59 closed

[2022-09-28 14:59] #51 closed